img {
    width: 400px;
}

body {
    text-align: center;
     background:darkslateblue;
    color: azure;

    font-family: 'Times New Roman', Times, serif;
   
}

p{
  font-size: 20px;
}

ul{
  text-align: center;
  list-style-position: inside;
  padding-left: 0; 
}

.my-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #00ffb3;
  color: rgb(40, 40, 40); 
  text-decoration: none; 
  border-radius: 5px; 
  font-weight: bold;
}


.my-button:hover {
  background-color: #00ff59; 
}